/* @tailwind base;
@tailwind components;
@tailwind utilities; */

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    border:2px solid black;
    max-height: 600px;
  }

  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.8);
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card a {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
    width: 100%;
    border-radius: 10px;
  }
  
  .card a:hover {
    opacity: 0.7;
  }

  .card-img{
    height: 300px;
  }

  /* .card a{ 
    text-decoration: none;
    color: #ccc;
  } */

  .books-container{
    display: flex;
    flex-wrap: wrap;
    background-color: whitesmoke;
    padding:10px;
    margin:20px;
    align-items: center;
    justify-content: center;
  }


  .footer{
    background-color:#007BFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer-links i {
    font-size: 40px;
    margin:10px;
    color: #000;
    border-radius:100px;
    border: 2px solid black;
    padding: 8px;
    display: inline-block;
  }

  .footer-links  i:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(37, 36, 36, 0.5);
    background-color: transparent;
    color: goldenrod;
  }

  .footer > h1{
    color:rgb(41, 45, 50);
  }

/* about */
.about {
  background: rgb(224, 251, 222);
  background: linear-gradient(360deg, rgb(245, 255, 245) 0%, rgb(173, 252, 163) 100%);
  padding: 100px 0 20px 0;
  text-align: center;
}

.about h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.about p {
  font-size: 1rem;
  color: #323030;
  max-width: 800px;
  margin: 0 auto;
}

.about-info {
  margin: 2rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.about-img {
  width: 20rem;
  height: 20rem;

}

.about-img img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: contain;
}

.about-info p {
  font-size: 1.3rem;
  margin: 0 2rem;
  text-align: justify;
}

.Aboutbutton {
  border: none;
  outline: 0;
  padding: 10px;
  margin: 2rem;
  font-size: 1rem;
  color: white;
  background-color: #40b736;
  text-align: center;
  cursor: pointer;
  width: 15rem;
  border-radius: 4px;
}

.Aboutbutton:hover {
  background-color: #1f9405;
}



.team {
  padding: 30px 0;
  text-align: center;
}

.team h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.team-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.AboutCard {
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s;
  width: 18rem;
  height: 25rem;
  margin-top: 10px;
}

.AboutCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
}

.Aboutcard-img {
  width: 18rem;
  height: 12rem;
}

.Aboutcard-img img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}


.card-info button {
  margin: 2rem 1rem;
}

.card-name {
  font-size: 2rem;
  margin: 10px 0;
}

.card-role {
  font-size: 1rem;
  color: #888;
  margin: 5px 0;
}

.card-email {
  font-size: 1rem;
  color: #555;
}

/* contectpage */



main {
  padding: 2rem;
  background-color: #fff;
}

.contact-info {
  margin-bottom: 2rem;
}

.contact-info h2 {
  margin-top: 0;
}

.contact-info p {
  margin: 0.5rem 0;
}

.contact-info a {
  color: #007BFF;
  text-decoration: none;
}

.contact-info a:hover {
  padding: 5px;
  background-color: #000;
  color:white;
}

.social-media {
  margin-bottom: 2rem;
}

.social-media a{
  text-decoration: none;
  color:#007BFF;
  font-size:20px;

}

.social-media a:hover{
  padding: 5px;
  background-color: #000;
  color:white;
}
.social-media h2 {
  margin-top: 0;
}

.contact-form {
  margin-top: 2rem;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin: 0.5rem 0;
}

.contact-form input,
.contact-form textarea {
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form button {
  padding: 0.75rem;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #312f2f;
}

/* ProductordetailsCard */


.Productor-detail-card{
 border: 2px solid black;
 height: 500px;
 display: flex;
 padding: 10px;
 gap:10px;
 margin: 40px;
 min-height: calc(100vh - 200px);
}

.Productor-detail-card img{
  width:40%;
}

 /* .Productor-detail-page{
  margin:auto;
} */



.Productor-detail-card button{
  border: none;
  padding: 1px;
  color: white;
  background-color: #000;
  cursor: pointer;
}


@media (max-width:500px) {
  .Productor-detail-card{
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 30px;
    align-items: center;
    height: 600px;
    padding:10px;
   }

   .Productor-detail-card img{
    width: 300px;
   }

   .Productor-detail-card .detailsDescription{
    display: none;
   }

   .Productor-detail-card h1{
    font-size: 20px;
   }
}

@media (max-width:600px) {
  .Productor-detail-card{
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 30px;
    align-items: center;
    height: 600px;
   }

   .Productor-detail-card img{
    width: 300px;
   }

   .Productor-detail-card .detailsDescription{
    display: none;
   }

   .Productor-detail-card h1{
    font-size: 25px;
   }
}

@media (max-width:500px) {
  .Productor-detail-card{
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 30px;
    align-items: center;
    height: 600px;
   }

   .Productor-detail-card img{
    width: 300px;
   }

   .Productor-detail-card .detailsDescription{
    display: none;
   }

   .Productor-detail-card h1{
    font-size: 20px;
   }
}

@media (max-width:700px) {
  .Productor-detail-card{
    display: flex;
    width: auto;
    margin: 30px;
    height: 430px;
    justify-content:center ;
    align-items: center;
   }

   .Productor-detail-card img{
    width: 300px;
    height: 400px ;
   }

   .Productor-detail-card .detailsDescription{
    display: none;
   }

   .Productor-detail-card h1{
    font-size: 20px;
   }
}

@media (max-width:500px){
  .itemBox{
    display: none;
  }
}